/* OVERRIDE */
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto/Roboto-Bold-webfont.eot');
    src: url('../fonts/roboto/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/roboto/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto/Roboto-Light-webfont.eot');
    src: url('../fonts/roboto/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/roboto/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/roboto/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

body, h1, h2, h3, h4, h5, h6 {
    /*font-family: 'robotolight' !important;*/
    font-family: 'open sans' !important;
}

h4 a{
	color:#666;
}

.navbar{
	color: #fff;
	 /*background: #FFF;  For browsers that do not support gradients */
	background: #8BE54C; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right, #42DD4E,#8BE54C ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #42DD4E,#8BE54C); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #42DD4E,#8BE54C); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #42DD4E,#8BE54C); /* Standard syntax */
 
	border:0px;
	height:60px;
  padding: 5px;
}


.navbar-toggle {
    display: block;
	float:left;
/*	margin-top:10px;*/
    margin-top:0;
    margin-right: 0;
	border: 0px solid #fff;
}
.navbar-left>li>a {
    padding:  10px 15px 10px 0;
}

.navbar-collapse.collapse {
	display: none!important;
}

.navbar-default .navbar-toggle{
	border:1px solid transparent;
	background-color:transparent;
}


.navbar-default .navbar-toggle:hover{
	border:1px solid #fff;
	color:#fff;
	background-color:transparent;
}

.navbar-default .navbar-toggle:focus{
	border:2px solid #fff;
	color:#fff;
	background-color:transparent;
}

.navbar-default .navbar-toggle:after{
	border:0px solid #fff;
	color:#fff;
	background-color:transparent;
}


.navbar-default .navbar-toggle .icon-bar{
	background-color:#707070;

}

.navbar-brand{
	margin:0px ;
	padding: 5px 0px;
}

.navbar-title{
  text-align:left;
  /*border-left: 2px solid #fff;*/
  padding-left: 15px;
  margin-left: 12px;
  color:#FFF;
  float:right;
  margin-top:6px;

}

.navbar-nav > li > a {
	padding-top: 8px;
	padding-bottom: 10px;
}
.main{
  padding-top:30px;
}
.nav-top{
  margin-bottom:20px;
}
.horizontal-menu .nav.nav-pills {
	background-color: #fff;

}
.horizontal-menu .nav.nav-pills > li > a {
	color: #000;
	padding: 5px 15px;
}

.nav.nav-pills > li.active > a, .nav.nav-pills > li > a{
	padding: 5px 40px ;
	border-radius:50px;
	background-color:transparent;
	border : 2px solid #f1f3f5;
}

.nav.nav-pills > li.active > a, .nav.nav-pills > li > a:hover{
	border-radius:50px;
	background-color:transparent;
	border : 2px solid #999;
}

.dropdown b{
	/*color:#707070;*/
	color:#fff;
}
.dropdown-menu>li>a:hover{
  background: #e8ffef;
  color: #777!important;
  font-weight: bold;
  /*font-style: bold;*/
}
.sidebar .sidebar-menu > li {
	font-size:14px;
	margin-left: -20px;
	/*padding: 10px;*/
}

.sidebar .sidebar-menu > li > a{
	font-size:14px;
}

/* SITUS */

.site-label {
	overflow: hidden;
}
.site-label::before {
	font-family: 'FontAwesome';
	margin-right: 5px;
}
.site-photo {
	border: 0px solid #ccc;
	overflow: hidden;
}
.site-photo-left {
	float: left;
	margin-right: 10px;
}
.site-photo-right {
	float: right;
	margin-left: 10px;
}
.site-photo-center {
	margin: auto;
	margin-bottom: 5px;
}
.site-photo-36 {
	height: 36px;
	width: 36px;
}
.site-photo-48 {
	height: 48px;
	width: 48px;
}
.site-photo-64 {
	height: 64px;
	width: 64px;
}
.site-photo-86 {
	height: 86px;
	width: 86px;
}
.site-photo-100 {
	height: 100px;
	width: 100px;
}
.site-photo-128 {
	height: 128px;
	width: 208px;
}

.site-listbox {
	border: 1px solid #ccc;
	height: 200px;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 3px;
}
.site-listbox table {
	width: 100%;
}
.site-listbox tr {
	vertical-align: top;
}
.site-listbox td {
	padding: 3px;
	vertical-align: middle;
}
.site-listbox td:first-child {
	width: 20px;
}
.site-listbox label {
	margin-bottom: 20px;

}

/* LOGIN */

.login-body {
	text-align: center;
}

.login-photo {
	margin: auto;
	margin-bottom: 10px;
	overflow: hidden;
}

.login-name {
	font-size: 1.5rem;
}

.login-pick {
	border: 1px solid #ccc;
	cursor: pointer;
	height: 112px;
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
	text-align: center;
}
.login-pick-text {
	background-color: rgba(255,255,255,0.75);
	bottom: 0;
	display: table-cell;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}

.login-pilih {
	cursor: pointer;
}

/* MENU */

.logo{
	background: #fff;
	border-right: 1px solid #ccc;
	width: 5%;
}


.menu-bar {
	color: #fff;
	background: #00aaaf; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #00aaaf, #a4c882); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #00aaaf, #a4c882); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #00aaaf, #a4c882); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #00aaaf, #a4c882); /* Standard syntax */
}

.menu-bar-sub {
	color: white;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 1px 0 rgba(0, 0, 0, 0.1);
	background: #2093fd; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #2093fd, #884ffa); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #2093fd, #884ffa); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #2093fd, #884ffa); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #2093fd, #884ffa); /* Standard syntax */
}

#menu-bar-sub-pattern{
	background-image:  url(../img/submenu.png);
    background-repeat:  no-repeat;
    background-size:  cover;
}

a .thumbnail{
	color:#ccc;
}

#img_user:hover{
	opacity:0.5;
	transition: opacity 0.2s;
	z-index:1;
}

.edit-foto{
	color:#fff;
	background-color:#777;
	height:20%;
	display:block;
	z-index:3;
}

.profile-picture{
	height:60px;
	width:60px;
	margin-right: 15px;
}

.profile-picture-small{
	height:40px;
	width:40px;
	margin-right: 15px;
}
.menu-img {
	margin-top: 7px;
	padding-right: 30px;
	text-align: right;
	padding: 4px;
	float:left;

}
.menu-img img {
	max-height: 38px;
}

.menu-photo {
	overflow: hidden;

}

.menu-button {
	float: right;
	left:5px;

}

.vl{
	border-right: 1px solid #E0E0E0;
	border-color: #E0E0E0;
	color:#616161;
  	height: 20px;
  	margin-top: 10px;
  	margin-bottom: 10px; 
  	padding-left: 2px;
    padding-right: 0px;
}

.vl i{
	color:#616161;
}

.discuss-content{
	color:#616161;
	padding-bottom: 2px;
	padding-top: 2px;
	margin-top: 10px;
}

.log-content{
	color:#616161;
}

.discuss-content-small{
	color:#616161;
	padding-bottom: 2px;
	padding-top: 2px;
}

.discuss-user{
	color: #212121;
}

.discuss-date{
	color: #999;
    font-size: 0.8rem;
	font-size: 12px;
}

.log-date{
	color: #999;
    /*font-size: 0.8rem;*/
	font-size: 11px;
}
.icon-bottom, .icon-bottom i{
	color: #616161;
}

.detail-icon-bottom{
	padding-right: 15px;
}

.btn-filter{
	background-color: #FFF;
	width: 180px;
    height: 45px;
}
.menu-button a {
	color: #999;
	margin-left: 15px;
}
.menu-button a:hover,
.menu-button a:active,
.menu-button a:focus
{
	color: #3c8dbc;
}
.menu-button .fa {
	font-size: 1.7rem;
	margin-top: 7px;
}
.menu-button .label {
	position: absolute;
	top: 0;
	right: 30px;
	margin-top:0px;
}

.menu-title {
	font-size: 1.1rem;
	line-height: 1.1;
}
.menu-name {
	color: #000;
	float:right;
	margin:0px 5px;
}
.menu-profil{
	color: #000;
	float:right;
	margin:0px 5px 0px 5px;
}

.menu-search {
	color: #ddd;
	float:left;
	margin:4px 0px;


}

.menu-tab {
	margin-bottom: 10px;
}
.menu-tab .menu-tab-item {
	color: #999;
	cursor: pointer;
	float: left;
	font-size: 1.1rem;
	padding: 5px 15px;
}
.menu-tab .menu-tab-active {
	color: rgb(51,51,51);
	cursor: default;
}


/* POST */

#atribut-post ul{
	margin-right:0px;
	position:relative;
	list-style: none;
}
#atribut-post li{
   display:inline;
   margin: 0px -21px 0px 30px;
}

#atribut-post li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.post-num {
	position: relative;
	width:20%;
}


.post-num-::before {
	background-position: 5px 6px;
	background-repeat: no-repeat;
	font-size: 0.8rem;
	font-weight: bold;

}

.post-num-1::before{
	background-color:#12a15e;
	content: "OPEN";
	padding:5px;
	color: white;
	font-size: 0.8rem;
}

.post-num-4::before{
	background-color:#999;
	content: "CLOSE";
	padding:5px;
	color: white;
	font-size: 0.8rem;
}

.post-num-1-small::before{
	background-color:#12a15e;
	content: "OPEN";
	padding:5px;
	color: white;
	font-size:0.6em;
	float: left;
	margin: 3px;
}


.post-num-4-small::before{
	background-color:#999;
	content: "CLOSE";
	padding:5px;
	color: white;
	font-size:0.6em;
	float: left;
	margin: 3px;
}


.post-category-4-small::before{
	background-color:#999;
	content: "CLOSE";
	padding:5px;
	color: white;
	font-size:0.6em;
	float: left;
	margin: 3px;

}

.post-category-1-small::before{
	background-color:#c9f1fb;
	content: "KETENTUAN TEKNIS";
	padding:5px 8px;
	color: #668fab;
	font-size:0.6em;
	float: left;
	margin: 3px;

}
.post-section {
	background-color: #fff;
	margin-bottom: 15px;
	/*box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08), 0 2px 1px 0 rgba(0, 0, 0, 0.07);*/
	border-radius:4px;
  border: 1px solid #e3e3e4;
}
.post-section.done{
	background-color: #ecedee;

}
/* populer post */

.panel{
	border-radius:1%;
}


.k-panel-primary{
		border-color: #03A9F4;
	  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.k-panel-primary:hover{
	border-color: #03A9F4;
  box-shadow: 0 10px 10px -10px #03A9F4;
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.k-panel-success{
	min-width: 100%;
	max-height: 100%;
	border-color: #2ECC71;
	 display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.k-panel-success:hover{
	border-color: #2ECC71;
  box-shadow: 0 10px 10px -10px #2ECC71;
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.panel-heading{
	border-bottom: 1px solid #ecedee;
  padding: 15px;
}

.k-success-heading{
	background-color:#2ECC71!important;
	color: #fff!important;
	padding:7px; 
}

.k-panel-blue-heading{
	background-color: #03A9F4;
  color: #fff;
  border-bottom: 1px solid #ecedee;
  padding: 7px;
}

.post-populer{
	border-bottom: 1px solid #ecedee;
	color: #333;
	display:inline-block;
	padding:15px;
  	padding-top:5px;
	margin-bottom:20px;
	width: 100%;
}

.k-post-populer{
	border-bottom: 1px solid #ecedee;
	color: #333;
	display:inline-block;
	padding:7px;
  	padding-top:5px;
	margin-bottom:20px;
	width: 100%;
}

.post-populer .thumbnail{
  margin: 10px auto;
}

.post-populer:last-of-type {
	border-bottom: none;
	margin: 0;
}

.k-style-post{
	text-align:justify;
	width:100%;
	word-wrap:break-word;
	font-size: 13px;
	color: #9E9E9E;
	font-weight: 400;
	font-family: Source Sans Pro, sans-serif;
}

.k-sidebar-blue{
	display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.k-sidebar-blue:hover{
	border-radius: 2px;
	font-weight: 700;
	color: #fff!important;
	background-color: #4FC3F7 !important;
	padding: 3px;
  box-shadow: 0 10px 10px -10px #4FC3F7;
  /*-webkit-transform: scale(1.1);*/
  /*transform: scale(1.1);*/
  z-index: 100px;
}

.k-sidebar-yellow{
	display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.k-sidebar-yellow:hover{
	border-radius: 2px;
	font-weight: 700;
	color: #fff!important;
	background-color: #FFD54F !important;
	padding: 3px;
  box-shadow: 0 10px 10px -10px #FFD54F;
  /*-webkit-transform: scale(1.1);*/
  /*transform: scale(1.1);*/
  z-index: 100px;
}

.k-sidebar-red{
	display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.k-sidebar-red:hover{
	border-radius: 2px;
	font-weight: 700;
	color: #fff!important;
	background-color: #FF8A65 !important;
	padding: 3px;
  box-shadow: 0 10px 10px -10px #FF8A65;
  /*-webkit-transform: scale(1.1);
  transform: scale(1.1);*/
  z-index: 100px;
}

.k-sidebar-green{
	display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  height: 50px;
  padding: 20px 0px;
  /*border-style: solid;*/
  /*border-width: 2px 10px 4px 20px;*/
  /*border-bottom: 0.2px;*/
  /*padding-left: 6px;*/
}

.k-sidebar-green i{
	color: #000000;

}

.fa-star-o{
	color: #BDBDBD;
	font-size: 25px;
    letter-spacing: 7px;
}

.fa-star{
	/*color: #F5F5F5;*/
	color: yellow;
	font-size: 25px;
    letter-spacing: 7px;
}
.fa-star:hover{
	color: yellow;
	font-size: 25px;
    letter-spacing: 7px;
}

.star-rating {
	line-height:23px;
	font-size:1.25em;
	text-align: right;
	cursor: pointer;
}

.star-rating-post {
	line-height:23px;
	font-size:1.25em;
	text-align: right;
	cursor: pointer;
}

.total-rating{
	line-height:23px;
	font-size: 14px;
	vertical-align: middle;
}

.status-lapor{
	height: 18px;
	width: 21px;
	margin:-8%;
	background-color: #795548;
	border-radius: 2px;

}

.status-respon{
	height: 18px;
	width: 21px;
	margin:-8%;
	background-color: #9c27b0;
	border-radius: 2px;

}

.status-terbuka{
	height: 18px;
	width: 21px;
	margin:-8%;
	background-color: #00aeef;
	border-radius: 2px;

}

.status-proses{
	height: 18px;
	width: 21px;
	margin:-8%;
	background-color: #ff9800;
	border-radius: 2px;
}

.status-selesai{
	height: 18px;
	width: 21px;
	margin:-8%;
	background-color: #4caf50;
	border-radius: 2px;
}
.divider{
	height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
/*.k-sidebar-green, i:hover{
	color: #0fd850!important;
}*/

.k-sidebar-green:hover, .k-sidebar-green:hover i{
	border-radius: 2px;
	font-weight: 700;
	color: #777!important;
	background-color: #e8ffef !important;
	/*padding: 3px;*/
  box-shadow: 0 10px 10px -10px #AED581;
  /*-webkit-transform: scale(1.1);
  transform: scale(1.1);*/
  z-index: 100px;
}

.k-sidebar-green.active, .k-sidebar-green.active i{
	color: #0fd850!important;
	font-weight: 700;
	background-color: #e8ffef !important;
}

.k-sidebar-black{
	display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.k-sidebar-black:hover{
	border-radius: 2px;
	font-weight: 700;
	color: #212121!important;
	background-color: #E0E0E0 !important;
	padding: 3px;
  box-shadow: 0 10px 10px -10px #E0E0E0;
 /* -webkit-transform: scale(1.1);
  transform: scale(1.1);*/
  z-index: 100px;
}

.booksvg:hover{
	fill: url(#ffffff);
}


.date-created{
	color:#999;
	font-size: 0.8rem;
	float:left;
	margin:3px;
}

.author-created{
	color:#2980b9;
	font-size:0.8em;
	float:left;
	margin:3px;
}

.post-populer-created{
	position:relative;
	background-color:#fff;
}

.post-populer-atribut {
	position:relative;
	background-color:#fff;
}


/* End of populer post */

.post-header-name {
	font-weight: bold;
}
.post-header-info {
	color: #999;
	font-size: 0.8rem;
}
.post-title .user-desc{
  margin-top: 15px;
  margin-left: 15px;
}

.post-title .ticket-desc{
  border-radius: 0 0 0 4px;
  background: #03A9F4;
  text-transform: uppercase;
  width:100px;
  text-align:center;
  color:#fff;
}

.post-title .ticket-desc h5{
  font-size: 12px;
}
.post-title .ticket-desc.group{
  background: #FFA000;
}
.post-title .ticket-desc.group.nonumum{
  background: #673AB7;
}
.post-title .ticket-desc a{
    color: #fff;
    padding-left:10px;
}
 .post-title .ticket-desc span{
   padding-left:10px;
   padding-right: 10px;
   color: #fff;
 }
.post-title .ticket-desc.red{
  background-color:#c62828;
}
.post-title .ticket-desc.yellow{
  background-color:#f39c12;
}
.post-title .ticket-desc.green{
  background-color:#4CAF50;
}
.post-body {
	clear: both;
	/*padding: 10px 0 0 0;
	margin-left:3%;
	margin-right:3%;
	margin-bottom:30px;*/
}
.post-body hr{
  border-top: 1px solid #e3e3e4;
}
.post-body p{
	line-height:21px;
	color:#333;
	font-size:14px
}

.post-footer {
	padding: 8px 15px;
  border-top: 1px solid #e3e3e4;
}
.post-footer .btn{
  box-shadow: none;
}
.post-footer a{
  font-size: 12px;
}
.btn-footer {
	color:#777;
	box-shadow:none;

}

.btn-footer a{
	color: #777;

}
.btn-footer a:hover{
	color: #333;

}


.post-right {
	margin-left: 20px;
}

.post-delete {
	color: red;
}
.post-delete:hover {
	color: orange;
}

.post-cat {
	position: relative;
}
.post-cat::before {
	background-position: 5px 6px;
	background-repeat: no-repeat;
	color: white;
	font-size: 0.9rem;
	font-weight: bold;
	padding: 4px;
	padding-left: 26px;
	position: absolute;
	right: 0;
	top: 22px;
}

.post-cat-1 {
	/* border-color: #4caf50; */
}
.post-cat-1::before {
	background-color: #4caf50;
	background-image: url('../img/icons/info.png');
	content: "INFO";
}
.post-cat-2 {
	/* border-color: #ffc107; */
}
.post-cat-2::before {
	background-color: #ffc107;
	background-image: url('../img/icons/task.png');
	content: "TASK";
}
.post-cat-3 {
	/* border-color: #f44336; */
}
.post-cat-3::before {
	background-color: #f44336;
	background-image: url('../img/icons/bug.png');
	content: "BUG";
}
.post-cat-4 {
	/* border-color: #9c27b0; */
}
.post-cat-4::before {
	background-color: #9c27b0;
	background-image: url('../img/icons/event.png');
	content: "EVENT";
}
.post-cat-6 {
	/* border-color: #ff5722; */
}
.post-cat-6::before {
	background-color: #ff5722;
	background-image: url('../img/icons/enhancement.png');
	content: "ENHANCEMENT";
}
.post-cat-7 {
	/* border-color: #2196f3; */
}
.post-cat-7::before {
	background-color: #2196f3;
	background-image: url('../img/icons/proposal.png');
	content: "PROPOSAL";
}
.post-cat-8 {
	/* border-color: #4caf50; */
}
.post-cat-8::before {
	background-color: #4caf50;
	background-image: url('../img/icons/info.png');
	content: "TODO";
}
.post-cat-9 {
	/* border-color: #4caf50; */
}
.post-cat-9::before {
	background-color: #4caf50;
	background-image: url('../img/icons/info.png');
	content: "KM";
}



/* COMMENT */

.comment-table {
	background-color: #fff;
	border-collapse: collapse;
	width: 100%;
	border: 0px solid #ccc;
}
.comment-table tr {
	border: 0px solid #ccc;
}
.comment-table td {
	padding: 10px 15px;


}
.comment-table td:first-child {
	width: 50px;
	vertical-align: top;
}
.comment-table td.comment-info {
	padding-left: 0;

}


/* HEADER */

.notification-table {
	width: 100%;
	border:0px;
}
.notification-table > tbody > tr {
	border: 0.5px solid #ccc;
}
.notification-table > tbody > tr > td {
	padding: 0;
	border: 0.5px solid #ccc;
}
.notification-table a {
	color: #000000;
}
.notification-table .comment-table tr {
	border: 0;
}
.notification-table .comment-table tr:hover {
	background-color: #e3f0f9;
}

.notification-unread {
	background-color: #ffffd4;
}

/* GROUP */

.group-header-name {
	font-weight: bold;
}
.group-header-owner {
	margin-top: 3px;
}

.group-priv {
	position: relative;
}
.group-priv::before {
	font-family: 'FontAwesome';
	font-size: 1.3rem;
	padding: 5px 10px;
	position: absolute;
	right: 0;
	top: 0;
}
.group-priv-c::before {
	color: #4caf50;
	content: "\f0ac";
}
.group-priv-e::before {
	color: #f14c40;
	content: "\f023";
}

.group-table td {
	padding: 0 15px 15px 0;
}

/* USER */

.user-section {
	overflow-x: hidden;
	width: 100%;
}

.user-label {
	line-height: 1.3;
}
.user-email::before {
	color: #f57c00;
	content: "\f0e0";
}
.user-ym::before {
	color: #7b1fa2;
	content: "\f086";
}
.user-phone::before {
	color: #7fe340;
	content: "\f095";
}

/* TO DO */

.todo-header {
	margin-bottom: 15px;
	text-align: center;
}
.todo-title {
	margin-bottom: 5px;
}
.todo-selesai {
	color: green;
}

.todo-col {
	color: white;
	float: left;
	font-size: 3rem;
	height: 64px;
	margin-right: 15px;
	text-align: center;
	width: 64px;
}
.todo-col-0 { background-color: #212121 }
.todo-col-1 { background-color: #f44336 }
.todo-col-2 { background-color: #e91e63 }
.todo-col-3 { background-color: #9c27b0 }
.todo-col-4 { background-color: #673ab7 }
.todo-col-5 { background-color: #3f51b5 }
.todo-col-6 { background-color: #2196f3 }
.todo-col-7 { background-color: #03a9f4 }
.todo-col-8 { background-color: #00bcd4 }
.todo-col-9 { background-color: #009688 }
.todo-col-10 { background-color: #4caf50 }
.todo-col-11 { background-color: #8bc34a }
.todo-col-12 { background-color: #cddc39 }
.todo-col-13 { background-color: #ffeb3b }
.todo-col-14 { background-color: #ffe107 }
.todo-col-15 { background-color: #ff9800 }
.todo-col-16 { background-color: #ff5722 }

/* LAIN-LAIN */

.label-check {
	color: black;
	font-weight: normal;
	margin-bottom: 15px;
}
/* filter */
.filter .hidden-xs{
  display: inline-block !important;
}
/* wizard */
    .wizard .nav-tabs {
        position: relative;
        /* margin: 40px auto; */
        margin-bottom: 0;
        border-bottom: none;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line4 {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    /* right: 0; */
    top: 65%;
    z-index: 1;
}
.connecting-line4.active {
    background: #5CB85C;
}
.connecting-line3 {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 60%;
    margin: 0px 0px 0px 100px;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    border-radius: 100px;
    background: #f8f8f8;
    color: #ddd;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: -1px;
    text-align: center;
    font-size: 20px;
    top: -1px;
}
span.round-tab.active{
	color: #5CB85C;
	background: #fff;
	border: 2px solid #5CB85C;
}
span.round-tab i{
    /* color:#555555; */
}
.wizard{
	z-index:3;
}
.wizard li.active span.round-tab {
    background: #5bc0de;
    border: 2px solid #46B8DA;
}
.wizard li.active span.round-tab i{
    color: #fff;
}

span.round-tab:hover {
    /* color: #333;
     border: 2px solid #333;*/
}

.wizard .nav-tabs > li {
    width: 35%;

}



.wizard .nav-tabs > li a {
    width: 40px;
    height: 40px;
    /* margin: 20px auto; */
    border-radius: 100%;
    padding:0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {
  footer, .logo-sigap{
    display:none;
  }
  #page-content-wrapper{
    width:auto;
    padding:0 !important;
    padding-top:50px !important;
  }
  .content, .container{
    padding:0;
  }
    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

.modal-body.form-control {
    height: 32px;
    font-size: 14px;
}

/* SEARCH */

.search-form .form-group {
  float: right !important;
  /*transition: all 0.35s, border-radius 0s;*/
  height: 30px;
  background-color: #fff;
  /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;*/
  border-radius: 25px;
  border: 1px solid #ffffff;
  background: #ecedee;
  margin-top:10px;
  width: 200px;
}
.search-form .form-group input.form-control {
  padding: 4px 15px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
   display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}



.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #777;
  left: initial;
  font-size: 14px;
  margin-top: 8px;
  margin-right: 5px;
}

.search-form .form-group input.form-control:focus:{
	display:block;
}


/* .form-search[type=text] {
    width: 40px;
    height:40px;
    border-radius:20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.form-search[type=text]:focus {
    width: 20%;
} */

.big-icon {
    font-size: 20px;
    color: rgba(0,0,0,.3);
    margin-top: 4px;
	padding:2px;
padding-right: 25px;
}

.border-icon{
	border-right: 1px solid rgba(0,0,0,.1);
}

.big-icon span.label .label-danger .notif{
	margin-top:10px;
}


ul .horizontal-list > li {
    display: inline-block;
	float:left;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 2;
    position: absolute;
/*    left: 250px;*/
    width: 0;
    height: 100%;
/*    margin-left: -250px;*/
    margin-left: -198px;
    overflow-y: auto;
    overflow-x: hidden;
}

#wrapper.toggled #sidebar-wrapper {
    width: 180px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -180px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
	color=:#000;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #333;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #000;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
	color:#000;
}

.sidebar-nav > .sidebar-brand a {
    color: #333;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #000;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        padding-left: 180px;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 180px;

    }

    #page-content-wrapper {
        padding: 0px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
@media(min-width:1033px) and (max-width:1045px) {
    #sidebar-wrapper {
         margin-left: -217 !important;
    }
}
@media(max-width:768px) {
    #sidebar-wrapper {
         margin-left: -250px !important;
    }
    .hr-bottom {
        margin-bottom: 20px !important;
    }
    .post-footer{
      padding: 8px 5px;
    }
}


/* Button & label */

.btn-kirim {
  color: #fff;
  border-radius: 50px !important;
  background: #1976d2;
  border: 2px solid #fff;
  transition: .3s;
  margin: 2px;
  padding: 5px 25px;
}

.btn-kirim:hover{
font-weight: 600;
  background: #1565c0;
  border: 2px solid #fff;
  color: #fff;
}

.k-btn-kirim {
  color: #fff;
  border-radius: 50px !important;
  background: #2ECC71;
  border: 0px solid;
  transition: .3s;
  margin: 2px;
  padding: 7px 25px;
}

.k-btn-kirim:hover{
font-weight: 600;
  background: #27ae60;
  border: 0px solid;
  color: #fff;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0 5px 5px -2px #A5D6A7;
}

.btn-batal {
  color: #fff;
  border-radius: 50px !important;
  background: #f44336;
  border: 2px solid #fff;
  transition: .3s;
  margin: 2px;
  padding: 5px 25px;
}

.btn-batal:hover{
font-weight: 600;
  background: #c62828;
  border: 2px solid #fff;
  color: #fff;
}

.k-btn-batal {
  color: #fff;
  border-radius: 50px !important;
  background: #FF5722;
  border: 0px solid;
  transition: .3s;
  margin: 2px;
  padding: 7px 25px;
}

.k-btn-batal:hover{
  font-weight: 600;
  background: #FF5722;
  border: 0px solid;
  color: #fff;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0 5px 5px -2px #ef9a9a;
}

.k-mg{
    margin-left: -10%;
    margin-right: 5px;
}

.k-btn-transition{
    border: 1px solid #BDBDBD !important;
    background-color: transparent;!important;
    padding: 5px 12px!important;
    color: #757575;
    display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.k-btn-transition:hover{
    border: 1px solid transparent !important;
    background-color: rgba(3,169,244,1)!important;
    padding: 5px 12px!important;
    color: #fff;
    -webkit-transform: translateY(-3px);
  	transform: translateY(-3px);
  	box-shadow: 0 5px 5px -3px rgba(3,169,244,0.5);
}

.k-btn-value{
    margin-left: 10px;
	color: #fff;
	border-radius: 50px;
	/*border: 1px solid #fff;*/
    font-weight: 700;
	box-shadow: none;
}

.k-btn-value:hover{
	color: #fff;
	cursor: default;
}



.k-filter-bl{
    padding: 2% 10%;
    background-color: #fff;
    color: #03A9F4;
    font-weight: 700;
    box-shadow: 0 10px 10px -10px rgba(189,189,189 ,1);
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);

	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}

.k-filter-bl:hover{
	color: #03A9F4;
	background-color: #fff;
	font-weight: 700;
  box-shadow: 0 10px 10px -10px rgba(3,169,244,0.9);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.k-del-filter-bl{
	border: 2px solid #FF8A65;
    padding: 2% 4%;
    background-color: #fff;
    color: #f44336;
    font-weight: 700;
    box-shadow: none;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);

	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}

.k-del-filter-bl:hover{
	border: 0px;
	color: #f44336;
	background-color: #FFAB91;
	font-weight: 700;
  box-shadow: 0 10px 10px -10px rgba(183,28,28,0.9);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}


.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}
.custom-select-wrapper select {
	display: none;
}
.custom-select {
	position: relative;
	display: inline-block;
}
.custom-select-trigger {
    height: 50px !important;
    position: relative;
    display: block;
    width: 180px;
/*    padding: 0 12px;*/
    font-size: 14px;
    font-weight: 300;
    color: #424242;
/*    line-height: 50px;*/
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 10px 10px -10px rgba(189,189,189 ,1);
}
  .custom-select-trigger:after {
    position: absolute;
    display: block;
    content: '';
    width: 10px; height: 10px;
    top: 50%; right: 25px;
    margin-top: -3px;
    border-bottom: 1px solid #424242;
    border-right: 1px solid #424242;
    transform: rotate(45deg) translateY(-50%);
    transition: all .4s ease-in-out;
    transform-origin: 50% 0;
  }
  .custom-select.opened .custom-select-trigger:after {
    margin-top: 3px;
    transform: rotate(-135deg) translateY(-50%);
  }
.custom-options {
z-index: 1;
position: absolute;
display: block;
top: 100%; left: 0; right: 0;
min-width: 100%;
margin: 10px 0;
border: 0px solid #b5b5b5;
border-radius: 4px;
box-sizing: border-box;
box-shadow: 0 2px 1px rgba(0,0,0,.07);
background: #fff;
transition: all .4s ease-in-out;

opacity: 0;
visibility: hidden;
pointer-events: none;
transform: translateY(-15px);
box-shadow: 0 3px 10px -1px rgba(0,0,0,0.4);
}
.custom-select.opened .custom-options {
opacity: 1;
visibility: visible;
pointer-events: all;
transform: translateY(0);
}
.custom-options:before {
  position: absolute;
  display: block;
  content: '';
  bottom: 100%; right: 25px;
  width: 7px; height: 7px;
  margin-bottom: -4px;
  border-top: 0px solid #b5b5b5;
  border-left: 0px solid #b5b5b5;
  background: #fff;
  transform: rotate(45deg);
  transition: all .4s ease-in-out;
}
.option-hover:before {
	background: #f9f9f9;
}
.custom-option {
	position: relative;
	display: block;
	padding: 0 12px;
	border-bottom: 0px solid #b5b5b5;
	font-size: 14px;
	font-weight: 600;
	color: #757575;
	line-height: 47px;
	cursor: pointer;
	transition: all .4s ease-in-out;

}
.custom-option:first-of-type {
  border-radius: 4px 4px 0 0;
}
.custom-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}
.custom-option:hover,
.custom-option.selection {
  background: #EEEEEE;
}


    

.k-sort-bl{
    padding: 17% 70%;
    background-color: #fff;
    color: #03A9F4;
    font-weight: 700;
    box-shadow: 0 10px 10px -10px rgba(189,189,189 ,1);
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);

	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}

.k-sort-bl:active, .k-sort-bl:link, .k-sort-bl:visited {
    padding: 17% 70%;
    background-color: #fff;
    color: #03A9F4;
    font-weight: 700;
}

.k-sort-bl:hover {
	color: #03A9F4;
	background-color: #fff;
	font-weight: 700;
  box-shadow: 0 10px 10px -10px rgba(3,169,244,0.9);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.k-btn-terapkan{
	color: #fff;
	background-color: #4FC3F7;
	padding: 1.5% 40%;
	border-color: transparent;
	box-shadow: none;
	box-shadow: none;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}

.k-btn-terapkan:hover{
  box-shadow: 0 10px 10px -10px rgba(3,169,244,0.9);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.k-sanspro{
	font-family:Righteous, sans-serif;
	font-weight: 400;
}

/*toggle button aktif dan inaktif
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

/*toggle button aktif dan inaktif*/

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}




.hvr-grow-shadow-c {
  cursor: default;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow-c:hover, .hvr-grow-shadow-c:focus, .hvr-grow-shadow-c:active {
	cursor: default;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.1);
}




#btn_tujuan{
	background-color:#1565c0;
}



.btn-add{
	height:8%;
	color:#fff;
	border: 0pz solid #999;
	padding: 5px 40px ;
	border-radius:7px;
	background: #00aaaf;
}


.btn-add:hover{
	height:8%;
	color:#fff;
	border: 0pz solid #999;
	padding: 5px 40px ;
	border-radius:7px;
	background: #06a2a7;
}

.btn-save{
	color: #fff;
  border-radius: 50px !important;
  background: #4CAF50;
  border: 2px solid #fff;
  transition: .3s;
  margin: 2px;
}


.btn-save:hover{
	font-weight: 600;
  background: #47a04a;
  border: 2px solid #fff;
  color: #fff;
}

.btn-changepass{
color: #fff;
  border-radius: 50px !important;
  background-color: #f39c12;
  border: 2px solid #fff;
  transition: .3s;
  margin: 2px;
}


.btn-changepass:hover{
	font-weight: 600;
  background-color: #f3a312;
  border: 2px solid #fff;
  color: #fff;
}

.label-red {
  color: #fff;
  background: #c62828;
  border: 0px solid #fff;
  transition: .3s;
  margin: 1px;
}

.label-blue {
  color: #fff;
  background: #1565c0;
  border: 0px solid #fff;
  transition: .3s;
  margin: 1px;
}

.label-green {
  color: #fff;
  background: #4CAF50;
  border: 0px solid #fff;
  transition: .3s;
  margin: 1px;
}

.label-yellow {
  color: #fff;
  background: #f39c12;
  border: 0px solid #fff;
  transition: .3s;
  margin: 1px;
}

.label-gray {
  color: #fff;
  background: #aaa;
  border: 0px solid #fff;
  transition: .3s;
  margin: 1px;
}

.label-notif {
  color: #fff;
  background: #c62828;
  border: 0px solid #fff;
  transition: .3s;
  top: 6px;
  border-radius: 10px;
  padding: 5px;
  left:30px;
  height: 20px;
  position:absolute;
}

.footer-text{
	border-right:3px solid #cfd1d1;
}

.footer-img{
	margin-right:5px;
  height: 80px;
}

footer{
	background-color:#ecedee;
  border-top: 1px solid #e3e5e6;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-top: 30px;
}
.footer-sosmed{
  padding:0;
}
.footer-sosmed img{
  fill: #505050;
}
.footer-sosmed li{
  display: inline-block;
}
label {
	font-size:14px;
	color:#333;
}

.modal-footer, .modal-body {
    padding: 15px 20px;
}

.modal-body .form-control{
	font-size:14px;
	height:28px;
}

.edit_photo {
	overflow: initial;
}
.edit_foto:hover, #img_user:hover + .edit_foto {
	display: block;
}
.edit_foto {
    position: absolute;
    color: black;
    background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
    top: 50px;
    cursor: pointer;
    display: none;
    font-weight: bold;
}

.rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}
.rotate.down {
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}