/* OVERRIDE */
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto/Roboto-Bold-webfont.eot');
    src: url('../fonts/roboto/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/roboto/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto/Roboto-Light-webfont.eot');
    src: url('../fonts/roboto/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/roboto/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/roboto/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
body,h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans';
}
a, a:visited, a:link{
  color:#fff;
  text-decoration: underline;
}
html,body,#main, .container-fluid{
  overflow-x: hidden!important;
  overflow-y: auto!important;
  font-family: 'robotolight';
  -webkit-font-smoothing: antialiased;
  height: 100%;
  font-size: 15px;
}

#preloader{
  display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index:1001;
}

#preloader-content{
	position: absolute;
	display: none;
	width: 200px;
  height: auto;
	padding: 16px;
	z-index:1002;
}
.login-title{
  text-align: left;
/*border-left: 3px solid #fff;*/
/*padding-left: 30px;*/
/*margin-left: 30px;*/
text-align: center;
margin-top: 40px;
margin-bottom: 10px;
line-height: 30px;
/*font-size: 24px;*/
}
html, body, #main, .login-subtitle{
  font-family: 'Source Sans Pro' !important; 
}
.text-shadow{
   text-shadow: 1px 1px 3px #908c8c;
}
.logo-sigap{
    margin-top: 40px;
    margin-bottom: 10px;
}
#pattern{
	background-image:  url(../img/bg.png);
    background-repeat:  no-repeat;
    background-size:  cover;
	height:100%;
}

body {
  height:100%;
  color:#000;
  background-image: url("../../web/img/background.png");
}

#main_left{
	margin:auto auto;
  opacity: 0;
  transition: .5s;
}

#main_cont{
	background-color:#fff;
	height:100%;
	padding-top:2%;
}

.main{
	width:100%;
	height:100%;
	background-color:#fff;
}

#header{
	background-color:#fff;
	color:#000;
}
#form-login, #form-lupapass, #form-daftar{
  display: none;
}
.btn-login, .input-login{
  color: #fff;
  border-radius: 6px !important;
  background: transparent;
  border: 2px solid #fff;
  transition: .3s;
  margin: 10px;
}
.input-login{
  padding-left: 20px;
  font-size: 18px;
}
.btn-login{
font-weight: 600;
  font-size: 20px;
  padding: 5px 70px;
    background: #fff;
    color: #5BBA95;
    text-shadow: none;

}

.btn-login-form{
font-weight: 600;
font-size: 20px;
padding: 10px 70px;
background: linear-gradient(to right,#FFE000,#0FD850);
color: #FFF;
text-shadow: none;
border-radius: 6px !important;
border:none;

}

.input-icons i { 
    position: absolute; 

}

.input-icons { 
    width: 100%; 
    margin-bottom: 10px; 
    border-bottom: 1px solid #707070;
} 
  
.icon { 
    padding: 10px; 
    min-width: 40px; 
} 

.input-login-form{
  color: #707070;
  background: transparent;
  border: 2px solid #707070;
  border:none;
  font-size: 20px;
  transition: .3s;
  margin: 10px;
}
.btn-login:hover{
font-weight: 600;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.form-box {
  width: 360px; /* CUSTOM */
  margin:auto auto;
}
.form-group {
  margin-bottom: 10px; /* CUSTOM */
}
/* CUSTOM */
@media screen and (max-width: 420px) {
#main_cont {
  width: 100%;
}
.form-box {
  width: 95%;
}
}

.alert {
	margin-bottom:8px;
}

.support{
	color:#999;
	position:absolute;
	bottom:5%;
	margin: 0 auto;
	left:0;
	right:0;
}
