ul.tabNavigation {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.tabNavigation li {
	display: inline;
}

ul.tabNavigation li a {
	padding: 3px 5px;
	background-color: #ccc;
	color: #000;
	text-decoration: none;
}

ul.tabNavigation li a.selected,
ul.tabNavigation li a:hover {
	background-color: #7cb5ed;
	color: #fff;
	padding-top: 7px;
}

ul.tabNavigation li a:focus {
	outline: 0;
}

div.tabs > div {
	margin-top: 3px;
	margin-bottom: 10px;
	border: 1px solid #7cb5ed;
}

div.tabs > div h2 {
	margin-top: 0;
}

/* Model lain */

/*.container {width: 600px; margin: 10px auto;}*/
.caroutab{
	position:relative;
	width:100%;
	/*height:32px;*/
}
.caroutab .next, .caroutab .prev{
	position:relative;
	width:3%;
	line-height:30px;
	font-size:24px;
	text-align:center;
	background:#e0e0e0;
	text-decoration:none;
}
.wrap-tab{
	margin: 0 auto;
	overflow:hidden;
	/*background:#e0e0e0;*/
}
@media(min-width:1200px){
	.wrap-tab{
		width:100%;
	}
}
ul.tabs {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #dddddd;
	/* border-left: 1px solid #dddddd; */
	/* border-right: 1px solid #dddddd; */
}
ul.tabs li {
	float: left;
	margin: 0;
	margin-right:2px;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border: 1px solid #dddddd;
	border-left: none;
	margin-bottom: -5px;
	background: #f2f2f2;
	overflow: hidden;
	position: relative;
	text-align:center;
	border-right: 1px solid #DDDDDD;
	border-left: 1px solid #DDD;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 14px !important;
	font-weight:bold;
	/* padding: 0 20px; */
	/* border: 1px solid #fff; */
	outline: none;
}
ul.tabs li a:hover {
	background: #f2f2f2;
}	
html ul.tabs li.active, html ul.tabs li.active a, html ul.tabs li.active a:hover  {
	background: #fff;
	font-weight:bold;
	border-bottom: 1px solid #ddd;
}
.tab_container {
	border: 1px solid #dddddd;
	border-top: none;
	clear: both;
	float: left; 
	width: 100%;
	background: #fff;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
.tab_content {
	padding: 20px;
	font-size: 1em;
}
.tab_content h2 {
	font-weight: normal;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ddd;
	font-size: 1.8em;
}
.tab_content h3 a{
	color: #254588;
}
/*.tab_content img {
	float: left;
	margin: 0 20px 20px 0;
	border: 1px solid #ddd;
	padding: 5px;
}*/